.admin_back{
    background-image:url('../Assets/5cc79f7ece2801f9a75e545f8556349e.jpg');
    border-radius: 10px;
    opacity: 5;
    width: 800px;
    height:200px;
}

.admin_input{
    width:300px;
    height: 50px;
    background-color: aliceblue;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 150%;
}
.admin_button{
    margin-left: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 150%;
    background-color:lightgreen;
    border: none;
    outline: none;
    cursor: pointer;
}



.emailField_admin{
    width: 330px;
    height: 45px;
    border-radius: 3px;
    padding-left: 20px;
    border: 1.9px solid #E5E8E8;
    margin-top: 10px;
    font-size: 130%;
    font-family: 'Source Sans Pro', sans-serif;
}


.emailField_admin:focus{
    outline: none !important;
    border: 1.6px solid #2E86C1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 130%;
    
}

.table_admin{
    width: 800px;
}

@media only screen and (max-width: 361px) {
    
    
    .emailField_admin{
        width:200px;
    }
    .table_admin{
        width:340px
    }
}