

.img-cen{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.font1{
    font-family: 'Lexend', sans-serif;
}

.backImage{
    background-image: url('../Assets/qwd83nc4xxf41.jpg');
}

.img-text{
    font-family: 'Lexend', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 190%;
}
.img-text1{
    text-align: center;
    font-family: 'Lexend', sans-serif;
    color: black;
    font-size: 190%;
}
.font{
    font-family: 'Lexend', sans-serif;
    font-size: 220%;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
@media only screen and (max-width: 520px) {
    
    .img-cen img{
        width: 90%;
    }
    
}

.DashCard{
    width:300px;
    height:400px;
    background: linear-gradient(
        to bottom, 
        #82E0AA 0%, 
        #82E0AA 60%, 
        #E5E7E9 60%, 
        #E5E7E9 100%
    );
    text-align: center;
    align-items: center;
}
.buttonD{
    padding: 10px;
    border: none;
    font-family: 'Lexend', sans-serif;
    
}
.buttonP{
    padding-top: 100px;
}
.buttonD:hover{
    cursor: pointer;
}
.git_wrap{
    
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-left: 30px
}

@media only screen and (max-width: 520px) {
    
    .img-text{
        
        font-size: 100%;
    }
    .font_D{
        font-size:160%;
    }

   
}