.footer{
  margin-top: 1rem;
  padding: 75px;
  position: relative;
  text-align: center;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  font-size: 250%;
  font-family: 'Lexend', sans-serif;
}

.footer_home{
  margin-top: 1rem;
  padding: 75px;
  /* position: relative; */
  text-align: center;
  background-image: url('../Assets/qwd83nc4xxf41.jpg');
  color:white;
  font-size: 250%;
  font-family: 'Lexend', sans-serif;
  
  border-radius:10px;
}
.footer_home_card{
  width:400px;
}
.footer_home_flex{
  display:flex;
  justify-content:center;
  margin-bottom: -50px;
}
.footer_home_card_text{
  border-radius:5px;
  padding-bottom: 5px;
 background-color: #6495ED ;
}