@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

.first-text{
    text-align:center;
    font-size: 200%;
    font-family: 'Lexend', sans-serif;
}
.form{
    width:700px;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding:30px;
    margin-bottom: 30px;
}
.majorPart{
    display:flex;
    justify-content:center;
}
.decor{
    width: 100%;
    height:9.5px;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.decor2{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:10px
}
.setter-decor{
    position: fixed;
    bottom: 0;
    width: 100%;
}