@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

.tag-1{
    font-family: 'Lexend', sans-serif;
    font-size: 150%;
    /* color:white; */
    color: #17202A;
}
.tag-2{
    font-family: 'Lexend', sans-serif;
}
